
#header {
    background-color: #333;
    width: 98%;
    height: 30px;
    border: 1px black solid;
    box-shadow: 0px 3px 3px #444;
    border-radius: 3px;

    text-align: center;
    line-height: 5px;
    color: #FFF;

    padding: 10px;
    margin-bottom: 10px;
    vertical-align: top;
}

#left_menu {
    background-color: #333;
    width: 150px;
    height: 660px;
    border: 1px black solid;
    box-shadow: 0px 3px 3px #444;
    border-radius: 3px;

    text-align: center;
    color: #EEE;

    float: left;
    margin-right: 10px;

}

#display_container{
    overflow: auto;
    width: 780px;
    height: 670px;
    float: left;
    clear: none;
}

.message_display{
    background-color: #EEE;
    width: 370px;
    height: 100px;
    border: 1px black solid;
    box-shadow: 2px 3px 3px #444;
    border-radius: 3px;

    margin-right: 10px;
    margin-bottom: 10px;

    float: left;

}
.display_username{
    text-align: left;
    margin-left: 20px;
    margin-bottom: -42px;
    color: #34CCFF;

}
.display_time{
    text-align: right;
    margin-right: 20px;
    margin-bottom: -10px;

}
.display_message{
    margin-left: 30px;
    margin-left: 30px;
    margin-bottom: -5px;
}
.display_hashTag{
    text-align: right;
    text-align: bottom;
    margin-right: 20px;
}

.users{
    background-color: #EEE;
    width: 138px;
    height: 40px;
    border: 1px black solid;
    border-radius: 6px;

    text-align: center;
    vertical-align: middle;
    color: #000;

    margin: 5px;
    margin-top: 10px;
 }

 .highlighted{
    box-shadow: 0px 0px 10px #FF0;
 }